@CHARSET "windows-1255";

body {
	margin: 0;
	padding: 0;
	font-family: Sans-Serif;
	line-height: 1.5em;
	background-image: url("http://www.planwallpaper.com/static/images/abstract_color_background_picture_8015.jpg");
}

#header {
	background: transparent;
	height: 45px;
	padding: 10px;
}

#header h1 {
	text-align: center;
	margin: -10px;
	line-height: 0px;
	text-decoration: underline;
}

#header button {
	background-color: dodgerblue;
	color: white;
	width: 150px;
	height: 45;
	padding: 8px;
	font-size: 16px;
	border: 200px;
	display: inline;
	cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

main {
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: left;
	width: 100%;
}

#nav {
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: left;
	width: 270px;
	margin-left: -100%;
	background: transparent;
	
}

#footer {
	text-align: center;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

#wrapper {
	overflow: hidden;
}

#content {
	margin-left: 150px;
}

.innertube {
	margin: 15px; /* Padding for content */
	margin-top: 0;
}

p {
	color: #555;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul button {
	font-family: Arial;
	font-size: 14px;
}

li {
	padding-bottom: 2px;
}

.btnstyle {
	background-color: white;
	color: black;
	width: 270px
	padding: 8px;
	font-size: 16px;
	border: none;
	display: inline;
	cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btnstyle:hover {
	background-color: #4c5759;
	color: white;
}

#logOutBTN {
	border-radius: 20px;
}

.innertube h3 {
	text-decoration: underline;
}

.innertube button {
	border-radius: 10px;
	width: 90%;
	height: 59%;
}
